@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap');

/*Asterisk wildtype selector to override defoult browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "Montserrat", sans-serif;
}

/*Header*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 2px #252525;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    margin-left: auto;
}

#logo {
    height: 4rem;
    padding-top: 10px;
    position: relative;
    padding-top: 20px;
}

header a {
    text-decoration: none;
    color: #252525;
    text-transform: uppercase;
}

#menu {
    font-size: 115%;
    list-style-type: none;
    text-align: right;
    align-items: end;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    font-size: 120%;
    text-decoration-line: underline;
    text-decoration-color: #ffde59;
    text-decoration-thickness: 60%;
    text-underline-position: below;
}

/*Navbar styles with dropdown toggle*/
nav {
    background-color: white;
    width: 100%;
    display: none;
}

/*Main*/
main {
    /*Make main content to push footer down*/
    flex: 1 0 auto;
    margin-top: 70px;
}
/*Hero*/
#hero {
    height: 600px;
    width: 100%;
    background-image: url("../images/hero-mobile.png");
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    position: relative;
}
#cover-text {
    background-color: #007BFF;
    position: absolute;
    bottom: 85px;
    width: 80%;
    min-height: 150px;
    padding: 5%;
    text-align: center;
    color: white;
}
#cover-btn {
    background-color: #ffde59;
    color: #000000;
    width: 50%;
    position: absolute;
    bottom: 10px;
    left: 15%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
    padding: 2%;  
    height: 4rem;

}
#btn-bord {
width: 50%;
height: 4rem;
background-color:none;
border: #000000 2px solid;
position: absolute;
bottom: 2px;
left: 17%;


}
  /*Media query for tablets and screens larger than 768px*/

  @media screen and (min-width:768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-right: 1rem;
        padding-top: 1rem;
    }

    #menu a:hover {
        color: #ffde59;
        background-color: #252525;
    }

    .nav-toggle-label {
        display: none;
    }

    main {
        margin-top: 90px;
    }

/*Hero*/
#hero{
    height: 600px;
    width: 100%;
    background-image: url("../images/hero.png");
}
}

/*Footer*/
footer {
    background-color: #ffde59;
}

    #social-networks {
        text-align: center;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;

    }

    #social-networks i {
        font-size: 150%;
        padding: 5%;
        color: #000000;
    }

  