@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap');

/*Asterisk wildtype selector to override defoult browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "Montserrat", sans-serif;
}

/*Header*/
header {
    background-color:white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 2px #252525;
}
#logo {
    height: 4rem;
}
header a {
    text-decoration: none;
    color: #252525;
    text-transform: uppercase;
}
#menu {
    font-size: 115%;
    letter-spacing: 1px;
    list-style-type: none;
    justify-items: right;
}
#menu>li {
    margin-bottom: 1em;
}
.active {
    border-bottom: solid 2px #252525;
    max-width: fit-content;
}
/*Main*/
main {
    background-color:blueviolet;
    /*Make main content to push footer down*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color:gray;
}
